@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  * {
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 20px;
  }
}

.dark {
  color-scheme: dark;
}

@media (min-width: 1024px) {
  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }
}
