@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.dark {
  color-scheme: dark;
}

@media (min-width: 1024px) {
  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }
}